# 1. 프레임워크 및 코어
langchain
langchain-core
langchain-openai
langchain-community
langchain-ollama
langchain-google-genai
langchain-text-splitters

# 2. PDF 처리 및 데이터 처리
pymupdf
tiktoken

# 3. 임베딩 및 벡터 저장소
langchain-huggingface
sentence-transformers
chromadb

# 4. UI 및 환경 설정
streamlit
python-dotenv